*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 52.5%;
  }
}

body {
  font-size: 1.6em;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

header {
  width: 100%;
  height: 20rem;
  background-color: lightcoral;
}

header .header_topmenu {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  header .header_topmenu {
    display: none;
  }
}

header .header_topmenu_right {
  max-width: 400px;
  margin-left: auto;
}

header .header_topmenu_center {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 10px;
  left: 0%;
}

header .header_topmenu_search {
  width: 10rem;
  border: solid 2px black;
  text-align: center;
  padding: 0.5rem;
}

header .header_topmenu_login {
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
}

header .header_topmenu_account {
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
}

header .header_topmenu_list_box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

header .header_topmenu_list_box .menu_list_button a {
  text-align: center;
  height: 100px;
  line-height: 100px;
}

header .header_topmenu_list_box .menu_list_button img {
  width: 15rem;
}

.header_hamburger {
  display: none;
}

@media screen and (max-width: 767px) {
  .header_hamburger {
    display: block;
  }
}

.header_hamburger .hamburger_menu {
  display: block;
  width: 50px;
  height: 50px;
  background-color: pink;
  position: fixed;
  top: 0;
  right: 0;
}

.header_hamburger .hamburger_menu div {
  height: 1px;
  width: 60%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.header_hamburger .hamburger_menu div:nth-of-type(1) {
  transform: translate(-50%, -10px);
  transform-origin: 0% 50%;
}

.header_hamburger .hamburger_menu div:nth-of-type(3) {
  transform: translate(-50%, 10px);
  transform-origin: 0% 50%;
}

.header_hamburger .hamburger_menu_list nav {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.header_hamburger .hamburger_menu_list nav ol {
  width: 100%;
  position: fixed;
  top: 53px;
  background-color: white;
  opacity: 0.8;
  text-align: center;
  padding: 5px;
}

.header_hamburger .hamburger_menu_list nav ol .menu_list_button {
  height: 3rem;
  line-height: 3rem;
}

.header_hamburger .hamburger_menu_list nav ol .menu_list_button:hover {
  background-color: pink;
}

.header_hamburger .hamburger_menu_list nav ol .menu_list_button:hover a {
  color: white;
}

.header_hamburger .hamburger_menu_list nav.active {
  opacity: 1;
  visibility: visible;
}

.header_hamburger .hamburger_menu.active div:nth-of-type(1) {
  transform: rotate(45deg) translate(-50%, 0px);
  transform-origin: 0% 50%;
}

.header_hamburger .hamburger_menu.active div:nth-of-type(2) {
  opacity: 0;
}

.header_hamburger .hamburger_menu.active div:nth-of-type(3) {
  transform: rotate(-45deg) translate(-50%, 0px);
  transform-origin: 0% 50%;
}

main {
  max-width: 980px;
  margin: 0 auto;
}

.main_visual {
  width: 100%;
}

.main_visual_image {
  width: 100%;
}

.main_visual_image img {
  width: 100%;
  vertical-align: top;
}

.main_menulist {
  display: flex;
  height: 5rem;
  line-height: 5rem;
}

.main_menulist_bread a {
  font-size: 0.8rem;
}

.main_menulist_bread a::after {
  content: ">";
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.main_teamenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_teamenu_contentbox {
  width: 30rem;
  background-color: lightyellow;
  margin: 0 auto;
}

.main_teamenu_contentbox_image {
  width: 100%;
}

.main_teamenu_contentbox_image img {
  width: 100%;
}

.main_link {
  width: 60%;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.main_link .main_link_button {
  width: 25rem;
  height: 5rem;
  line-height: 5rem;
  background-color: darksalmon;
  border: solid 2px black;
  margin: 5px;
}

.main_link .main_link_button .main_link_txte {
  text-align: center;
}

.main_link .main_link_button .main_link_txte .fa-solid fa-angle-right {
  font-size: 100px;
  color: #00acee;
}

.main_map {
  width: 100%;
  background-color: lightyellow;
  display: flex;
  margin: 0 auto;
  margin-top: 5rem;
}

@media screen and (max-width: 767px) {
  .main_map {
    flex-direction: column;
  }
}

.main_map_map {
  width: 30rem;
  height: 30rem;
  background-color: brown;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .main_map_map {
    width: 100%;
  }
}

.main_map_text {
  width: 30rem;
  height: 30rem;
  padding: 2rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .main_map_text {
    width: 100%;
  }
}

.main_map_text h2 {
  font-size: 2rem;
}

.main_map_text p {
  font-size: 1.5rem;
  margin-top: 2rem;
}

footer {
  width: 100%;
  padding: 3rem;
  background-color: lightcoral;
  color: white;
}

footer .footer_menutop {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-around;
}

footer .footer_menutop_logo {
  width: 12rem;
  height: 7rem;
}

footer .footer_menutop_logo img {
  width: 10rem;
  height: 7rem;
}

footer .footer_menutop_contents {
  width: 10rem;
  height: 7rem;
}

@media screen and (max-width: 767px) {
  footer .footer_menutop_contents h2, footer .footer_menutop_contents p {
    font-size: 0.2em;
    text-align: center;
  }
}

footer .footer_menubottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  footer .footer_menubottom p {
    font-size: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */